#output3{

    width: 200px;
    height: 200px;
    }
    
    .card{
    
        margin-top: 50px;
        line-height: 25px;
        text-align: center; 
     
        
        
    }
 
    